<!DOCTYPE html>
<html lang="en" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="https://image.ibb.co/fOur3b/favicon.png"/>
    <meta name="theme-color" content="#3a9fff">
    <title>kopilot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/ride.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoLENlbl6kET98KZt7Mxsx7txVQP6_72I&libraries=places" defer></script>
  </head>
      
  <body onload="init_tracking();">
    <header class="header">
        <div class="container header__container">
          <div class="header__logo"><img class="header__img" src="https://image.ibb.co/kcVou6/path3000.png">
            <h1 class="header__title">ko<span class="header__light">pilot</span></h1>
          </div> 
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        
          <div class="header__menu">
            <nav id="navbar" class="header__nav collapse">
              <ul class="header__elenco">
                <li class="header__el"><a href="/home" class="header__link">Home</a></li>
                <li class="header__el"><a href="/give" class="header__link">Give</a></li>
                <li class="header__el"><a href="/take" class="header__link">Take</a></li>
                <li class="header__el header__el--blue"><a class="btn btn--white" id="signin">Reserved Area<i class="ri-arrow-down-s-line" style="padding-left: 0.5rem;"></i></a>
                  <ul id="dropdowm-ra">
                    <li><a href="/profile"><i class="ri-user-settings-line"></i>Edit profile</a></li>
                    <li><a href="/requests"><i class="ri-mail-unread-line"></i>Requests
                      {% if notificationsNumber != 0 %}
                        <span class="badge" style="float: right; margin-top: 3px;">{{ notificationsNumber }}</span>
                      {% endif %}
                    </a></li>
                    <li><a href="/history"><i class="ri-history-line"></i>History</a></li>
                    <li><a href="/settings"><i class="ri-settings-5-line"></i>Settings</a></li>
                    <li><a href="/logout" id="logout-btn"><i class="ri-logout-box-r-line"></i>Logout</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
    </header> 

    <section id="ridecont">
        <div class="container-ride">
            <div class="form-image-give">
                <img src="static/img/give.svg" alt="">
            </div>
            <div class="form-ride">
                <form role="form" autocomplete="off" action="/give" method="POST" novalidate>
                    {{ form.hidden_tag()}}
                    <div class="ride-header-give">
                        <div class="ride-title">
                            <h1>GIVE</h1>
                        </div>
                    </div>
                    <div class="input-group">
                        <div class="input-ridebox-give">
                          {{ form.startPos.label()}}
                          {% if form.startPos.errors %}
                            {{ form.startPos( class="form-control is-invalid" )}}
                            <div class="invalid-feedback">
                              {% for error in form.startPos.errors %}
                                <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                            {% else %}
                              {{ form.startPos( id="startPos", readonly=true )}}
                          {% endif%}
                          {{ form.startLat(readonly=true) }}
                          {{ form.startLng(readonly=true) }}

                            <!-- <label for="departure">departure</label>
                            <input id="departure" type="text"> dovra' essere non immettibile -->
                        </div>
    
                        <div class="input-ridebox-give">
                          {{ form.seats.label( class="form-label" )}}
                          {% if form.seats.errors %}
                            {{ form.seats( placeholder="seats number")}}
                            <div class="invalid-feedback">
                              {% for error in form.seats.errors %}
                                <span>{{ error }}</span>
                              {% endfor %}
                            </div>
                            {% else %}
                              {{ form.seats( placeholder="seats number", id="seats")}}
                          {% endif%}
                            <!-- <label for="seat">seat available</label>
                            <input id="seat" type="text" required>  -->
                        </div>
                    </div>
                    {% if message is not none %}
                        <div class="alert alert-success" role="alert">
                        {{message}}
                        </div>
                    {% endif %}
                    {% if error is not none %}
                        <div class="alert alert-danger" role="alert">
                        {{error}}
                        </div>
                    {% endif %}
                    <div class="sendmodule-btn-give">
                        {{ form.submit()}}
                        <!-- <button><a href="#"></a>give ride</button> -->
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/autosuggestion_geocoding.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/tracking/active_geolocalization.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>  
  </body>
</html>