<!DOCTYPE html>
<html lang="en" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="https://image.ibb.co/fOur3b/favicon.png"/>
    <meta name="theme-color" content="#3a9fff">
    <title>kopilot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/history.css">
    <link rel="stylesheet" href="static/css/tabs.css">
    <link rel="stylesheet" href="static/css/popup.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  </head>
      
  <body>
    <header class="header">
        <div class="container header__container">
          <div class="header__logo"><img class="header__img" src="https://image.ibb.co/kcVou6/path3000.png">
            <h1 class="header__title">ko<span class="header__light">pilot</span></h1>
          </div> 
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        
          <div class="header__menu">
            <nav id="navbar" class="header__nav collapse">
              <ul class="header__elenco">
                <li class="header__el"><a href="/home" class="header__link">Home</a></li>
                <li class="header__el"><a href="/give" class="header__link">Give</a></li>
                <li class="header__el"><a href="/take" class="header__link">Take</a></li>
                <li class="header__el header__el--blue"><a class="btn btn--white" id="signin">Reserved Area<i class="ri-arrow-down-s-line" style="padding-left: 0.5rem;"></i></a>
                  <ul id="dropdowm-ra">
                    <li><a href="/profile"><i class="ri-user-settings-line"></i>Edit profile</a></li>
                    <li><a href="/requests"><i class="ri-mail-unread-line"></i>Requests
                      {% if notificationsNumber != 0 %}
                        <span class="badge" style="float: right; margin-top: 3px;">{{ notificationsNumber }}</span>
                      {% endif %}
                    </a></li>
                    <li><a href="/history"><i class="ri-history-line"></i>History</a></li>
                    <!-- <li><a href="/settings"><i class="ri-settings-5-line"></i>Settings</a></li> -->
                    <li><a href="/logout" id="logout-btn"><i class="ri-logout-box-r-line"></i>Logout</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
    </header> 

    <ul class="notifications"></ul>

    <section id="content">
        <div class="container-cards"> 
          <div class="option-container">
            <div class="content">
              <input type="radio" name="slider" checked id="trip" />
              <input type="radio" name="slider" id="ride" />
              <div class="list">
                <label for="trip" class="trip">
                  <i class="ri-car-line"></i>
                  <span class="title"> Trips</span>
                </label>
                <label for="ride" class="ride" style="margin-right:-25px">
                  <i class="ri-luggage-cart-line"></i>
                  <span class="title"> Ride</span>
                </label>
                <div class="slider"></div>
              </div>
              <div class="text-content">

                <div class="trip text">
                  <div class="title">Trips History</div>
                  <div class="card-shower">
                    {% if trips %}
                      {% for trip in trips %}
                        <div class="response-card" id="viaggio_{{ trip.idViaggio }}">
                          <div class="timeline-content">
                            <ul>
                              <li>
                                <span> Partenza:</span>
                                <h3>{{ trip.indirizzoPartenza }}</h3>
                              </li>
                              <li>
                                <span> Data:</span>
                                <h3>{{ trip.time_stamp }}</h3>
                              </li>
                              <li>
                                <span> Posti disponibili:</span>
                                <h3>{{ trip.postiDisponibili }}</h3>
                              </li>
                            </ul>
                          </div>
                          <div class="left-places">
                            {% if trip.Stato == 'Concluso' %}
                              <b>Stato:</b> <span class="badge text-bg-success">{{ trip.Stato }}</span>
                            {% elif trip.Stato == 'In Corso...' %}
                              <b>Stato:</b> <span class="badge text-bg-warning">{{ trip.Stato }}</span>
                            {% else %}
                              <b>Stato:</b> <span class="badge text-bg-danger">{{ trip.Stato }}</span>
                            {% endif %}
                          </div>
                          <div class="card-btn">
                            <div class="btn-padd">
                              <a onclick="endTrip('{{ trip.idViaggio }}')" id="ending_{{ trip.idViaggio }}" class="btn btn-finish btn--width">Finish</a>
                            </div>
                            <div class="btn-padd">
                              <a onclick="deleteTrip('{{ trip.idViaggio }}')" class="btn btn-delete btn--width">Delete</a>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    {% else %}
                      <div class="img-placeholder">
                        <img src="static/img/notrip.svg">
                        <p id="placeholder-p"> It looks like you haven't entered any trips yet, enter one <b><a href="/give">here</a></b> now!</p>
                      </div>
                    {% endif %}
                  </div>
                </div>

                <div class="ride text">
                  <div class="title">Rides History</div>
                  <div class="card-shower">
                    {% if rides %}
                      {% for ride in rides %}
                        <div class="response-card" id="ride_{{ ride.idViaggio }}">
                          <div class="timeline-content">
                            <ul>
                              <li>
                                  <span> Partenza:</span>
                                  <h3>{{ ride.indirizzoPartenza }}</h3>
                              </li>
                              <li>
                                  <span> Arrivo:</span>
                                  <h3>{{ ride.indirizzoArrivo }}</h3>
                              </li>
                            </ul>
                          </div>
                          <div class="left-places">
                            {% if ride.Stato == 'In Attesa' %}
                              <b>Stato:</b> <span class="badge text-bg-warning">{{ ride.Stato }}</span>
                            {% elif ride.Stato == 'Accettato' %}
                              <b>Stato:</b> <span class="badge text-bg-success">{{ ride.Stato }}</span>
                            {% else %}
                              <b>Stato:</b> <span class="badge text-bg-danger">{{ ride.Stato }}</span>
                            {% endif %}
                          </div>
                          <div class="card-btn">
                            <div class="btn-padd">
                              <a onclick="cancelRide('{{ ride.idViaggio }}')" id="delRide_{{ ride.idViaggio }}" class="btn btn-delete btn--width">Delete</a>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    {% else %}
                      <div class="img-placeholder">
                        <img src="static/img/noride.svg">
                        <p id="placeholder-p"> It looks like you haven't requested any ride yet, enter one <b><a href="/take">here</a></b> now!</p>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
    </section>

    <script>
      // Chiama la funzione al caricamento della pagina
      document.addEventListener('DOMContentLoaded', function() {
        // Chiamare la funzione per ogni trip
        {% for trip in trips %}
          controllaStatoViaggio('{{ trip.idViaggio }}');
        {% endfor %}
        // Chiamare la funzione per ogni ride
        {% for ride in rides %}
          controllaStatoPassaggio('{{ ride.idViaggio }}');
        {% endfor %}
      });
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/delete_trip.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/delete_ride.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/end_trip.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/controlli_TripRide.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>  
    <script type="text/javascript" src="{{ url_for('static', filename='js/popup.js') }}"></script>
  </body>
</html>