<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="https://image.ibb.co/fOur3b/favicon.png"/>
    <meta name="theme-color" content="#3a9fff">
    <title>kopilot</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="login.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
  </head>
      
  <body>
    <header class="header">
      <div class="container header__container">
        <div class="header__logo"><img class="header__img" src="https://image.ibb.co/kcVou6/path3000.png">
          <h1 class="header__title">ko<span class="header__light">pilot</span></h1>
        </div> 
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      
        <div class="header__menu">
          <nav id="navbar" class="header__nav collapse">
            <ul class="header__elenco">
              <li class="header__el"><a href="/" class="header__link">Home</a></li>
              <li class="header__el"><a href="/login" class="header__link">Give</a></li>
              <li class="header__el"><a href="/login" class="header__link">Take</a></li>
              <li class="header__el header__el--blue"><a class="btn btn--white" id="signin">Reserved Area<i class="ri-arrow-down-s-line" style="padding-left: 0.5rem;"></i></a>
                <ul id="dropdowm-ra">
                  <li><a href="/login"><i class="ri-login-circle-line"></i>Login</a></li>
                  <li><a href="/signup"><i class="ri-user-add-fill"></i>Sign Up</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>

    <div class="container-signin">
        <div class="forms-container-signin">
            <div class="account">
                <form action="" class="sign-in-form">
                    <h2 class="title">Sign In</h2>
                    <div class="input-field">
                        <i class="ri-user-fill"></i>
                        <input type="email" placeholder="email">
                    </div>
                    <div class="input-field">
                        <i class="ri-lock-password-fill"></i>
                        <input type="password" placeholder="password">
                    </div>
                    <input type="submit" value="Login" class="btn-log-l solid">
                    <p class="remember-me">ricordami</p>
                </form>
            </div>
        </div>

        <div class="panels-container-l">
            <div class="panel-l left-panel">
                <div class="content-panels">
                  <h3>New here?</h3>
                  <p>Let's Join!</p>
                  <button class="btn-log-l transparent" id="sign-up-btn">Sign Up</button>
                </div>

                <img src="static/img/sign.svg" class="image-panel" alt="">
              </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>  
    
    <script>
      document.getElementById('sign-up-btn').addEventListener('click', function() {
          window.location.href = '/signup';
      });
    </script>
  
  </body>
</html>