<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="https://image.ibb.co/fOur3b/favicon.png"/>
    <meta name="theme-color" content="#3a9fff">
    <title>Bricks.io - Homepage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/profile.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
  </head>
      
  <body>
    <header class="header">
        <div class="container header__container">
          <div class="header__logo"><img class="header__img" src="https://image.ibb.co/kcVou6/path3000.png">
            <h1 class="header__title">ko<span class="header__light">pilot</span></h1>
          </div> 
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        
          <div class="header__menu">
            <nav id="navbar" class="header__nav collapse">
              <ul class="header__elenco">
                <li class="header__el"><a href="/home" class="header__link">Home</a></li>
                <li class="header__el"><a href="/give" class="header__link">Give</a></li>
                <li class="header__el"><a href="/take" class="header__link">Take</a></li>
                <li class="header__el header__el--blue"><a class="btn btn--white" id="signin">Reserved Area<i class="ri-arrow-down-s-line" style="padding-left: 0.5rem;"></i></a>
                  <ul id="dropdowm-ra">
                    <li><a href="/profile"><i class="ri-user-settings-line"></i>Edit profile</a></li>
                    <li><a href="/requests"><i class="ri-mail-unread-line"></i>Requests
                      {% if notificationsNumber != 0 %}
                        <span class="badge" style="float: right; margin-top: 3px;">{{ notificationsNumber }}</span>
                      {% endif %}
                    </a></li>
                    <li><a href="/history"><i class="ri-history-line"></i>History</a></li>
                    <li><a href="/settings"><i class="ri-settings-5-line"></i>Settings</a></li>
                    <li><a href="/logout" id="logout-btn"><i class="ri-logout-box-r-line"></i>Logout</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </header>

    <div class="container-profile">
        <div class="forms-container-profile">
            <div class="editprofile">
                <form action="/profile" class="profile-up-form" novalidate method="POST">
                  {{ form.hidden_tag()}}
                    <h2 class="title">Edit Profile</h2>
                    <div class="input-field">
                      <i class="ri-user-fill"></i>
                      {% if form.name.errors %}
                        {{ form.name( placeholder="name" )}}
                        <div class="invalid-feedback">
                          {% for error in form.name.errors %}
                            <span> {{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                          {{ form.name( placeholder="name", value=user_info['nomeUtente']) }}
                      {% endif%}
                    </div>
                    <div class="input-field">
                      <i class="ri-user-fill"></i>
                      {% if form.lastname.errors %}
                        {{ form.lastname( placeholder="last name" )}}
                        <div class="invalid-feedback">
                          {% for error in form.lastname.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                          {{ form.lastname( placeholder="last name", value=user_info['cognomeUtente']) }}
                      {% endif%}
                    </div>
                    <div class="input-field">
                      <i class="ri-phone-fill"></i>
                      {% if form.phone.errors %}
                        {{ form.phone( placeholder="phone number" )}}
                        <div class="invalid-feedback">
                          {% for error in form.phone.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                          {{ form.phone( placeholder="phone number", value=user_info['telefonoUtente']) }}
                      {% endif%}
                  </div>
                    <div class="input-field">
                        <i class="ri-mail-check-fill"></i>
                        {% if form.email.errors %}
                          {{ form.email( placeholder="email" )}}
                          <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                              <span>{{ error }}</span>
                            {% endfor %}
                          </div>
                          {% else %}
                            {{ form.email( placeholder="email", value=user_info['emailUtente']) }}
                        {% endif%}
                    </div>
                    <div class="input-field">
                        <i class="ri-lock-password-fill"></i>
                        {% if form.password.errors %}
                          {{ form.password( placeholder="password" )}}
                          <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                              <span>{{ error }}</span>
                            {% endfor %}
                          </div>
                          {% else %}
                            {{ form.password( placeholder="password" ) }}
                        {% endif%}
                    </div>
                    {% if error is not none %}
                      <div class="alert alert-danger" role="alert">
                          {{error}}
                      </div>
                      {% endif %}
                      {% if message is not none %}
                      <div class="alert alert-success" role="alert">
                          {{message}}
                      </div>
                    {% endif %}
                    <button id="submit" type="submit" name="submit" class="btn-log-s solid">
                        <i class="ri-edit-line"></i>
                        Edit
                    </button>
                    <!-- {{ form.submit( class="btn btn-primary" )}} -->
                </form>
            </div>
        </div>
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>  
  </body>
</html>